.container {
    display: flex;
}

.container > div {
    flex-grow: 1;
    border: 1px solid black;
    min-height: 20px;
}

.result-wrapper {
    margin: 0 auto;
    text-align: center;
}

.result {
    display: inline-block;
    vertical-align: top;
    font-size: 36px;
    color: red;
    border: 1px solid #000;
    margin-top: 50px;
}

button {
    background: lightslategray;
    padding: 8px 14px;
    border: 3px solid #000000;
    margin-top: 20px;
}
